form {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(4, 1fr);
  background-color: rgb(255, 255, 255, 60%);
  backdrop-filter: blur(50px);
  box-shadow: 0 0 20px 5px rgba(255, 255, 255, 0.2);
  border-radius: 12px;
  border: 1px solid #e5e7eb;
  padding: 3% 1%;
  gap: 1.5rem;
}

.area-ingreso-data{
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
}

.label-fecha{
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 1%;
}

.input-fecha{
  align-self: center;
  text-align: center;
  padding: 0.5rem;
  font-size: 1.1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: 70%;
  box-sizing: border-box;
}
