.contenedor-principal {
  width: 100dvw;
  height: 100dvh;
  display: grid;
  grid-template-columns: 1fr 16fr;
  grid-template-rows: auto;
  gap: 1rem;
}

.contenedor-lista-elementos {
  background-color: rgba(7 38 7 / 20%);
  backdrop-filter: blur(10px);
  color: white;
  height: 80%;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  padding: 40% 0px;
}

.contenedor-lista-elementos li {
  justify-self: center;
  list-style: none;
  border-bottom: 2px solid rgba(255, 255, 255, 0.18);
  margin: 0px;
  padding: 0.5rem 0px;
  text-align: center;
}

.contenedor-lista-elementos li a {
  text-decoration: none;
  color: white;
}

.menuItem-icono {
  height: auto;
  width: 50%;
}

.contenedor-contenido {
    justify-items: center;
    align-content: center;
}
